@import url(http://fonts.googleapis.com/css?family=Lato);

body, html {
  color: #fff;
  background-color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.231;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-height:100%;
  padding: 0;
  margin: 0;
  position: relative;
}


.logo {
	float: left;
 	margin-left: 50px;
 	margin-top: 50px;
 	position: fixed;
}

#content {
	z-index: 999;
	width: 100%;
	height: 100%;
	float: left;
	vertical-align: middle;
	margin-top: 180px;
	text-align: center;
	position: relative;

}

button {

	border: 3px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 24px;
	color: #fff;
	background-color:rgba(255,204,0,0.0);
	padding: 10px 25px 10px 25px;

}

.btn-go {

	border: 3px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 24px;
	color: #fff;
	background-color:rgba(255,204,0,0.0);
	padding: 10px 25px 10px 25px;


}

.btn-code {

	border: 2px solid #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 18px;
	color: #fff;
	background-color:rgba(255,204,0,0.0);
	padding: 5px 15px 5px 15px;


}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #ccc;
	border: 3px solid #2b2b2b;
	background-color:rgba(43,43,43,1);

}

.demo {
	font-size: 24px;
	color: #fff;
	opacity: 0.5;
}

.postal {
	width :600px;
	text-align: center;
	margin: 0 auto;
}

.postal-1 {
	float: left;
	margin-top:60px;
	width:400px;
}

.postal-2 {
	float: left;
}

.postal-3 {
	float: left;
	margin-top:90px;
}

input::-webkit-input-placeholder{
    color: #fff;
    opacity: 0.3;
}
input:-moz-placeholder {
    color: #fff;
    opacity: 0.3;
}

input {
	outline: none; 
    border: 0px; 
    color: #fff;
    font-size: 50px;
    padding: 15px;
    background: rgba(255,255,255,0.0);
    margin: 0 0 10px 0;
	/* all */
	::-webkit-input-placeholder { color:#fff; }
	::-moz-placeholder { color:#fff; } /* firefox 19+ */
	:-ms-input-placeholder { color:#fff; } /* ie */
	input:-moz-placeholder { color:#fff; }
}

.purple-gradient {
	height: 100%;
  	width: 100%;
	background: rgba(197,68,252,1);

}

.purple-img {
	margin: 0;
	height: 100%;
  	width: 100%;
	background: url(http://www.sherizan.com/images/scene-01a.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.blue {
	color: #fff;
	height: 100%;
  	width: 100%;
  	min-height: 768px;
  	padding: 0;
  	background: url(http://www.sherizan.com/images/scene-02.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.blue-0 {
	width :800px;
	margin: 0 auto;
}

.blue-1 {
	float: left;
	margin-top:0px;
	width:300px;
	text-align: center;
}

.blue-2 {
	float: left;
}

.blue-3 {
	float: left;
	margin-top:0px;
	width:400px;
}

.date {
	font-size: 18px;
	color: #fff;
}

.date2 {
	margin-top: 80px;
	font-size: 28px;
	color: #fff;
}

.weather {
	font-size: 58px;
	color: #fff;
}

.weather-desc {
	font-size: 38px;
	color: #fff;
}

.temp {
	font-size: 84px;
	color: #fff;
}

.small {
	font-size: 12px;
	margin-top: -80px;
	margin-left: 120px;
}

.code {

	float: right;
	display: block;
	margin-right: 100px;
	margin-top: -100px;
	font-size: 20px;
}



.orange {
	color: #fff;
	height: 100%;
  	width: 100%;
  	min-height: 768px;
  	padding: 0;
  	background: url(http://www.sherizan.com/images/scene-03.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.orange-0 {
	width : 1200px;
	margin: 0 auto;
}

.orange-x {
	float: left;
	margin-top: 140px;
}

.orange-1 {
	float: left;
	margin-top: 200px;
	width: 160px;
	text-align: center;
}

.footer {
	opacity: 0.5;
	margin-top: 50px;
	text-align: center;
}


